@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --fonte-primaria: 'Playfair Display SC', serif;
    --fonte-secundaria: 'Montserrat Alternates', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #252525;
    font-size: 16px;
    color: white;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(img/jovem-na-barbearia-aparando-cabelo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sombra{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.582);
    width: 100%;
    height: 100%;
    z-index: 0;
}

nav{
    position: fixed;
    top: 7%;
    width: 90vw;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    cursor: pointer;
    background-color: #262626;
    z-index: 1;
}

nav ul{
    list-style: none;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    background-color:#673922 ;
    padding: 10px;
}

.logo{

    width: 100px;
    height: 100%;
    
}

.logo img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    width: 100vw;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.titulo h1{
    font-family: var(--fonte-primaria);
    font-size: 6rem;
}

.titulo h2{
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
}

/* SESSÓES */

.menuhorarios{
    width: 100vw;
    height: 60vh;
    display: flex;
}

.textBemvindo{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-primaria);
}

.textBemvindo p{
    font-family: var(--fonte-secundaria);
    height: 70%;
    font-size: 1.2rem;
    line-height: 1.6;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.imgshorarios{
    flex: 1;
    display: flex;
}

.inImgs{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgshorarios img{
    width: 80%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.horarios {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-primaria);
}

.horarios ul{
    font-family: var(--fonte-secundaria);
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}